:root {
  --dark-grey: #333;
  --medium-grey: #585858;
  --base: #9e9e9e;
  --blue: blue;
}

.main_header {
  text-align: center;
  font-size: 5vw;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--medium-grey);
  margin: 5vw 0;
}

.secondary_header {
  font-size: 1.5vw;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--medium-grey);
  margin: .5vw 0;
}

.basic_par {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}