@import "normalize.css";
@import "myresets.css";
@import "fonts.css";
@import 'https://fonts.googleapis.com/css?family=Allura|Merriweather+Sans:400,700,800';

:root {
  --dark-grey: #333;
  --medium-grey: #585858;
  --base: #9e9e9e;
  --blue: blue;
}

html {
  font-size: 14px;
  color: var(--base);
}

body {
  background-color: #fff;
  font-family: "Merriweather Sans", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
}

.container_small {
  width: 100%;
  height: 50vw;
  margin: auto;
}

.bg-grey {
  background-color: #fafafa;
}

/* HEADER and NAVIGATION */
.navigation {
  width: 80%;
  height: 15vh;
  line-height: 15vh;
  margin: auto;
  text-transform: uppercase;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navigation .nav_logo {
  float: left;
}

.navigation .nav_logo_text {
  color: var(--medium-grey);
  font-size: 3vw;
  font-weight: 800;
}

.navigation .nav_menu {
  float: right;
  width: 40vw;
  font-size: 1rem;
}

.navigation .nav_menu a:hover {
  color: var(--medium-grey);
}


header .showcase {
  position: relative;
  width: 80%;
  height: 85vh;
  margin: auto;
}

header .showcase span {
  color: #fff;
  font-size: 14vw;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 10px 18px 35px rgba(88, 88, 88, 0.23);
}

header .showcase::before {
  content: "VS";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 35vw;
  font-weight: 800;
  opacity: .05;
}


/* MAIN */

/* SECTION ABOUT */

#about {
  position: relative;
}

#about .showcase {
  position: absolute;
  right: 7vw;
  bottom: 15vw;
  width: 27.5vw;
  /* height: 30vh; */
  padding: 1rem;
  line-height: 1.5;
}

#about .showcase h3 {
  font-size: 4vw;
  color: var(--medium-grey);
  font-weight: 800;
}

#about .showcase p {
  font-size: 1vw;
  font-weight: 700;
}

#about img {
  position: absolute;
  bottom: 0;
  left: 20vw;
  width: 30vw;
}

#about::before {
  content: "";
  position: absolute;
  top: 8vh;
  left: 13vw;
  right: 24vw;
  bottom: 8vh;
  border: .8vw solid #2046f2;
}

#about .author {
  position: absolute;
  right: 27vw;
  bottom: 6vh;
  font-family: "Allura", cursive;
  font-size: 2.5vw;
  font-weight: 500;
}




/* PORTFOLIO - WORKS */
#portfolio {
  position: relative;
}

#portfolio::before {
  content: "";
  position: absolute;
  top: 14vh;
  left: 20vw;
  right: 16vw;
  bottom: 9vh;
  border: .8vw solid #2046f2;
}

#portfolio .work_list {
  position: absolute;
  top: 25vh;
  bottom: 20vh;
  left: 8vw;
  right: 8vw;
  /* background-color: #aaa; */
}

#portfolio .work_item {
  display: flex;
  justify-content: space-between;
  height: 100%;
  /* background-color: aqua; */
}

#portfolio .work_desc {
  width: 30vw;
  /* height: 50%; */
  background-color: #fff;
  align-self: center;
  padding: 1vw 0;
  line-height: 1.5;

}

#portfolio .work_desc h3 {
  font-size: 4vw;
  color: var(--medium-grey);
  font-weight: 800;
}

#portfolio .work_desc p {
  font-size: 1vw;
  font-weight: 700;
}

#portfolio .work_img {
  align-self: center;
  width: 45vw;
  border: 0;
  box-shadow: .08vw .51vw 1vw .5vw rgba(0, 0, 0, 0.1);
}

#portfolio img {
  float: right;
  width: 100%;
}

#portfolio .work_link {
  display: inline-block;
  position: absolute;
  bottom: 5vh;
}

#portfolio .work_link::after {
  /* text-decoration-line: underline; */
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 1px;
  background-color: #2046f2;
  transition: transform .2s ease-out;
}

#portfolio .work_link:hover::after {
  /* height: 3px; */
  transform: translateY(3px) scaleY(1);
}

#portfolio .work_nav {
  display: flex;
  justify-content: space-between;
  width: 5vw;
  position: absolute;
  bottom: 4vh;
  left: 50%;
}

#portfolio .work_nav_item {
  width: .7rem;
  height: .7rem;
  background-color: var(--base);
  /* border-radius: 50%; */
  align-self: center;
}

#portfolio .work_nav .active {
  background-color: #fff;
  border: 2px solid var(--base);
}